
/* ViewResult.css */

.view-result-container {
    margin: auto; /* Center the container */
    padding: 10px 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .result-header {
    margin-top: 20px;
    font-size: 1.5rem;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
  }
  
  .table {
    margin-top: 10px;
  }
  .text-center{
  color:green;
  }
  .result-header{
    color: #b9b8b8;
  }
  